## Importation des bibliothèques
Les bibliothèques nécessaires sont importées au début. `requests` pour les requêtes HTTP, `BeautifulSoup` pour l'analyse du XML, `csv` pour la manipulation des fichiers CSV, `pandas` pour afficher un tableau d'échantillon.

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

## Définition des identifiants des laboratoires
Liste des identifiants des laboratoires pour lesquels nous voulons récupérer les données des auteurs.

In [2]:
lab_ids = [444290, 619]

## Requête à l'API et extraction des données
Pour chaque identifiant de laboratoire, une requête est envoyée à l'API. Les réponses sont analysées et les données pertinentes sont extraites et enregistrées.

In [3]:
with open('hal_authors_by_all_labs-univ-test.csv', 'w', newline='', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['Labo', 'Author Name', 'IDHAL'])  # En-tête du CSV

    for lab_id in lab_ids:
        url = f"https://api.archives-ouvertes.fr/search/?q=*:*&rows=0&facet=true&facet.field=structHasAuthIdHal_fs&facet.prefix={lab_id}_&wt=xml&facet.limit=10000"
        response = requests.get(url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'lxml')
            for tag in soup.find_all("int"):
                parts = tag['name'].split('_FacetSep_')
                author_idhal = parts[-2].split('_JoinSep_')[-1] if '_JoinSep_' in parts[-2] else ''
                author_name = parts[-1]
                writer.writerow([lab_id, author_name, author_idhal])

## Voir si les données sont ok sur un échantillon de 10 lignes

In [5]:
df_sample = pd.read_csv('hal_authors_by_all_labs-univ-test.csv', nrows=10)
df_sample

     Labo        Author Name                  IDHAL
0  444290     Feugère Michel         michel-feugere
1  444290       Waksman S.Y.           yona-waksman
2  444290      Poux Matthieu                    NaN
3  444290      Gilles Amaury               amgilles
4  444290     Argant Thierry         thierry-argant
5  444290  Batigne-Vallet C.  cecile-batigne-vallet
6  444290       Silvino Tony                    NaN
7  444290   Reveyron Nicolas                    NaN
8  444290  Oberlin Christine      christine-oberlin
9  444290   Delomier Chantal                    NaN

## Confirmation de la création du fichier
Une fois toutes les données enregistrées, on confirme la création du fichier CSV.

In [6]:
print("Le fichier 'data/hal_authors_by_all_labs-univ-test.csv' a été créé avec succès.")

Le fichier 'data/hal_authors_by_all_labs-univ-test.csv' a été créé avec succès.